/* navbar mobile begynder */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFF5E7;
    font-family: 'Nunito', sans-serif;
}

#logo {
    height: 3.5rem;
    margin: .5rem;
    margin-left: 3rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF5E7;
    margin-left: 0;
    margin-right: 0;
    box-shadow: 0 6px 10px rgb(0 0 0 / 0.2);
    height: 70px;
    width: 100%;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    max-width: 1760px;
    z-index: 9;
    background-color: #FFF5E7;
    margin-top: -14px;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: #221414;
    padding: 1rem;
    display: block;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 12px;
    background-color: #FFF5E7;
    text-align: left;
}

.navbar-links {
    display: none;
    width: 100%;
    justify-content: flex-end;
}

.navbar-links ul {
    width: 100%;
    flex-direction: column;
}

.navbar-links li {
    text-align: center;
}

.navbar-links a {
    padding: .5rem 1rem;
}

.navbar-links.active {
    display: flex;
}

.nav-img {
    display: none;
}


/*navbar mobile slut*/


/* site til mobil starter*/

.heading h1 {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 3rem;
}

h2 {
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
}

h3 {
    font-size: 1.2rem;
    text-align: center;
}

.webvandmærke {
    display: none;
}

.img-quote {
    display: none;
}

.web-quote {
    display: none;
}

.quote {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-top: 4rem;
}

.skill-web {
    display: none;
}

.skill-container h4 {
    font-size: 1rem;
    text-align: center;
}

.skill-container p {
    font-size: 0.9rem;
}

.skill-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.skill-item {
    display: flex;
    align-items: center;
    margin-top: 3rem;
}

.skill-text {
    display: flex;
    flex-direction: column;
}

.left {
    justify-content: start;
    align-items: flex-start;
    text-align: start;
    margin-left: 10px;
    margin-right: 10px;
}

.skill-item img {
    margin-left: 10px;
}

.right {
    justify-content: end;
    align-items: flex-end;
    text-align: end;
    margin-left: 10px;
    margin-right: 10px;
}

.skill-header p {
    font-family: 'Nunito', sans-serif;
    font-size: 0.9rem;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 1rem;
}

.skill-header h1 {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 2.5rem;
}

.draw {
    width: 12rem;
    height: 12rem;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
}

.vandmærke {
    opacity: 0.3;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 12rem;
    height: 12rem;
    transform: rotate(20deg);
}

.cases-heading h1 {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 8rem;
}

.cases-heading p {
    font-size: 0.9rem;
    margin-left: 2rem;
    margin-right: 1.5rem;
    margin-top: 1rem;
    text-align: center;
}

.rollup {
    width: 10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
}

.green-container {
    width: 100%;
}

.green {
    width: 4rem;
    height: 4rem;
    float: right;
    margin-right: 10%;
}

.cases-circle {
    display: block;
    position: relative;
    text-align: center;
}

.circle-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle {
    border-radius: 50%;
    background-color: #d99b62;
    width: 100%;
    opacity: 40%;
    margin-top: 0;
}

.circle-text h1 {
    font-size: .9rem;
}

.circle-text p {
    font-size: .65rem;
}

.jive {
    width: 18rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
}

.bb {
    width: 18rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
}

.boligboss {
    width: 18rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
}

.flyer {
    width: 18rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    margin-bottom: 1.5rem;
}

.webcases {
    display: none;
}

@media screen and (min-width: 400px) {
    .circle-text h1 {
        font-size: 1.2rem;
    }
    .circle-text p {
        font-size: .8rem;
    }
}


/* site til mobil slut*/


/*site til tablet starter*/

@media screen and (min-width: 500px) {
    .circle-text h1 {
        font-size: 1.6rem;
    }
    .circle-text p {
        font-size: 1rem;
    }
    .green {
        width: 5rem;
        height: 5rem;
    }
}

@media screen and (min-width: 600px) {
    .skill-item {
        width: 50%;
    }
    .rollup {
        width: 18rem;
    }
    .jive {
        width: 25rem;
        margin-top: 20rem;
    }
    .bb {
        width: 25rem;
        margin-top: 20rem;
    }
    .boligboss {
        width: 25rem;
        margin-top: 20rem;
    }
    .flyer {
        width: 25rem;
        margin-top: 20rem;
    }
}

@media screen and (min-width: 650px) {
    .circle-text h1 {
        font-size: 1.8rem;
    }
    .circle-text p {
        font-size: 1.3rem;
    }
    .green {
        width: 6rem;
        height: 6rem;
    }
}


/*style til web starter*/

@media screen and (min-width: 950px) {
    #logo {
        height: 3.5rem;
        margin: .5rem;
        margin-left: 7rem;
    }
    .navbar {
        flex-direction: row;
        align-items: center;
        position: fixed;
        margin-top: -30rem;
        z-index: 5;
    }
    .navbar-links li a {
        text-decoration: none;
        color: #221414;
        padding: 1rem;
        display: block;
        font-family: 'Nunito', sans-serif;
        font-size: 1.5rem;
        text-align: left;
        font-weight: normal;
    }
    .navbar-links {
        display: flex;
        align-items: center;
        margin-left: 10rem;
        margin-right: 5rem;
    }
    .navbar-links li {
        display: inline-block;
        justify-content: right;
    }
    .navbar-links ul {
        width: auto;
        display: flex;
        flex-direction: row;
        margin-top: 0;
    }
    li a {
        display: block;
        position: relative;
        text-decoration: none;
        font-size: 10px;
        font-family: 'Nunito', sans-serif, Arial;
        z-index: 9;
    }
    li i {
        margin: 0;
    }
    li a:hover {
        color: #909E87;
    }
    li a:active {
        color: #909E87;
    }
    /*navbar til web slut */
    .nav-img {
        display: block;
        width: 40rem;
        height: 40rem;
        position: absolute;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
        /* Scales the image so it covers whole area, thus will likely crop */
        object-position: center;
        /* Centers the image within the element */
        margin-top: -35rem;
        z-index: 6;
    }
    .draw {
        display: none;
    }
    .vandmærke {
        display: none;
    }
    .web-heading {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: center;
    }
    .webvandmærke {
        display: block;
        opacity: 100%;
        transform: none;
        height: 9rem;
    }
    .heading {
        margin-top: 25rem;
        margin-top: 30rem;
    }
    .heading h1 {
        font-size: 3.5rem;
        margin-left: -3rem;
    }
    .heading h2 {
        font-size: 2.5rem;
        font-weight: normal;
        margin-left: 5rem;
    }
    .quote {
        display: none;
    }
    .web-quote {
        display: block;
        position: relative;
        text-align: center;
    }
    .img-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .img-text p {
        font-size: 2.8rem;
    }
    .img-text h1 {
        font-size: 3.5rem;
        margin: 0;
    }
    .img-quote {
        display: block;
        width: 100%;
        height: 42rem;
        margin-top: 13rem;
        opacity: 85%;
    }
    .skill-mobile {
        display: none;
    }
    .skill-header h1 {
        font-size: 3.5rem;
        margin-top: 12rem;
        margin-left: -3rem;
    }
    .skill-header p {
        font-size: 2.8rem;
        text-align: center;
        margin-left: 5rem;
        margin-right: 5rem;
    }
    .skill-web {
        display: block;
        margin-left: 8rem;
        margin-right: 8rem;
    }
    .right {
        justify-content: start;
        align-items: flex-start;
        text-align: start;
    }
    .skill-item {
        flex: 33.33%;
    }
    .skill-text h4 {
        font-size: 1.9rem;
        margin-left: .5rem;
        margin-right: .5rem;
    }
    .skill-text p {
        font-size: 1.6rem;
        margin-left: .5rem;
        margin-right: .5rem;
    }
    .skill-web img {
        height: 9rem;
        width: 9rem;
        margin-left: 0;
    }
    .cases-heading h1 {
        font-size: 3.5rem;
        text-align: center;
        margin-top: 15rem;
    }
    .cases-heading p {
        font-size: 2.8rem;
        margin-top: 1rem;
        text-align: center;
    }
    .cases {
        display: none;
    }
    .webcases {
        display: block;
        margin-top: 20rem;
    }
    .rollup {
        float: left;
        width: 25rem;
    }
    .cases-circle {
        float: right;
    }
    .circle {
        width: 58rem;
    }
}